@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@font-face {
    font-family: Impact;
    src: url('impact.ttf');
}

:root {
    --main-color: #4abdac;
    --second-color: #fc4a1a;
    --third-color: #f7b733;
    --fourth-color: #dfdce3;
    --text-color: #1c4e46;
}

body {
    background-color: #F5F5F5;
    margin: 0;
}

html {
    font-size: 20px;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-component {
    margin-top: 5rem;
    border-radius: 2%;
    background-color: white;
}

.shadow {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.login-component {
    padding: 2rem;
}

.custom-toast {
    font-size: 0.9rem;
}

.main-container {
    padding: 2rem;
}

.register-link {
    line-height: 2.5rem;
}

.template-img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.canvas-container {
    margin: 0 auto;
}

.new-meme-form-wrapper {
    background-color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-meme-form-wrapper form {
    width: 90%;
}

.add-icon {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    line-height: 2.5rem;
}

.add-icon svg {
    color: green;
}

body {
    background-color: #fff
}

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    width: 350px;
    background-color: #e5e8ed;
    font-weight: 500
}

.second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa
}

.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386
}

.text4 {
    font-size: 13px;
    font-weight: 500;
    color: #828386
}

.comments-container {
    background-color: #eef2f5;
}

.meme-title {
    font-weight: 700;
}

.delete-comment-icon {
    color: #dc3545;
    cursor: pointer;
}

.delete-meme-icon,
.delete-template-icon {
    color: #dc3545;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 8px;
}

.not-found-img {
    display: block;
    margin: 0 auto;
}