@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@font-face {
    font-family: Impact;
    src: url('impact.ttf');
}

:root {
    --main-color: #4abdac;
    --second-color: #fc4a1a;
    --third-color: #f7b733;
    --fourth-color: #dfdce3;
    --text-color: #1c4e46;
}

body {
    background-color: #F5F5F5;
    margin: 0;
}

html {
    font-size: 20px;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-component {
    margin-top: 5rem;
    border-radius: 2%;
    background-color: white;
}

.shadow {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.login-component {
    padding: 2rem;
}

.custom-toast {
    font-size: 0.9rem;
}

.main-container {
    padding: 2rem;
}

.register-link {
    line-height: 2.5rem;
}

.template-img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.canvas-container {
    margin: 0 auto;
}

.new-meme-form-wrapper {
    background-color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-meme-form-wrapper form {
    width: 90%;
}